.Navbar--container {
  font-size: 30px;
  font-weight: 200;
  background: #b33939;
  border-bottom: 1px black solid;
  color: white;
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: 90px;
  padding-left: 10px;
}

.Navbar--name {
  display: flex;
  align-items: center;
}

ul.Navbar--nav-items {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}
