#__next {
    height: 100%;
}

.container {
    height: 100%;
}
html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(90deg,#321c64,#20123a);
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    height: 100%;
    width: 100%;
}

.Main--container { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Main--about-me { 
    text-align: center;
}

.Main--about-me > a{ 
    color: white;
}
